<div class="container">
  <div class="progress-bars">
    <span
      *ngFor="let storie of stories | keyvalue"
      [style.--duration]="timer + 's'"
      [class.bar-active]="activePosition == storie.key"
      [class.bar-paused]="paused"
      [class.bar-passed]="activePosition >= storie.key"
    ></span>
  </div>

  <div
    class="stories"
    *ngIf="stories"
    [class.media-storie]="stories[activePosition].type === 'image'"
    [style.--url]="'url(' + stories[activePosition].content + ')'"
    (mousedown)="storyContentholddown()"
    (mouseup)="storyContentholdup()"
  >
    <p *ngIf="stories[activePosition].type === 'text'">{{ stories[activePosition].content }}</p>
  </div>
</div>
